.main-chat
  .group-info
    .left
      - current_user.groups.each do |group|
        .left__current-group
          = group.name
        .left__member-list
          Member:
          - @group.group_users.each do |group_user|
            = group_user.user.name
    = link_to edit_group_path(current_user), class: "right-edit" do
      .group-info__right-edit__edit-btn
        Edit
  
  .messages
    = render @messages
  
  .message-form
    = form_for [@group, @message] do |f|
      .form
        .form__input-box
          = f.text_field :content, class: 'form__input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'form__input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'form__input-box__image__file'
        = f.submit 'Send', class: 'form__submit-btn'