.side-bar
  .header
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons__edit
          = link_to new_group_path(current_user) do
            = icon('fas', 'edit')
        %li.top-items__icons__cog
          = link_to edit_group_path(current_user) do
            = icon('fas', 'cog')


  .group-list
    - current_user.groups.each do |group|
      .grouplist
        = link_to group_messages_path(group), class: "group" do
          .group__name
            = group.name
          .group__message
            = group.show_last_message